<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRAND EDIT</title>
</head>
<body>
    
    <h1>BRAND EDIT</h1>
    
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/brands/new">Create a new Brand</a>
            </li>
        </ul>
    </nav>
    
    <main>
        <form action="/brands" method="POST">
            <div>
                <label for="brand-name">Brand Name:
                    <input 
                    type="text" 
                    name="brandName" 
                    value="<%= brand.brandName %>"/>
                </label>
            </div>
            <div>
                <label for="">Region:
                    <input 
                    type="text" 
                    name="region" 
                    value="<%= brand.region %>"/>
                    
                </label>
            </div>
            <div>
                <label for="">Main Ingredient:
                    <input 
                    type="text" 
                    name="ingredient"
                    value="<%= brand.ingredient %>"/>
                </label>
            </div>
            <div>
                <label for="">Contains Nuts:
                    <input 
                    type="checkbox" 
                    name="nuts"
                    value="<%= brand.nuts %>"/>
                </label>
            </div>
            <div>
                <label for="">Reviews:
                    <input 
                    type="text" 
                    name="review"
                    value="<%= brand.review %>"/>
                </label>
            </div>
            <div>
                <label for="">Image URL:
                    <input 
                    type="text" 
                    name="imageUrl"
                    value="<%= brand.imageUrl %>"/>
                </label>
            </div>
            <button type="submit">Submit</button>
        </form> 
    </main>
</body>
</html>