<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/brand-show.css">
    <title>Brands Show</title>
</head>
<body>
   <head>
       
           <h1>Show page for <%= brand.brandName %></h1>

   </head>
   <main>
    
        <nav class="nav-container">
           
                    <a href="/brands">Brands</a>
                
                    <a href="/testing">Testing</a>
               
        </nav>
       <section>
       <h2>Brand Attributes</h2>
       <ul>
           <li>Brand Name: <%= brand.brandName %></li>
           <li>Region: <%= brand.region %></li>
           <li>Main Ingredient: <%= brand.ingredient %></li>
           <!-- NUTS INDICATOR begin-->
           <% if (brand.nuts) { %>
           <li>This brand DOES contain nut product</li>
           <% } else { %>
            <li>This brand DOES NOT contain nut products</li>
            <% } %>
            <!-- NUTS INDICATOR end -->
           <li>Review: <%= brand.review %></li>
           <li>Image URL: <%= brand.imageUrl %></li>
       </ul>
    </section>

    <section>
        <!-- DELETE Button -->
        <form action="/brands/<%= brand._id %>?_method=DELETE" method="POST">
            <button type="submit">
                Delete
            </button>
             <!-- EDIT Button -->
             <button>
                 <a href="/brands/<%= brand._id %>/edit">Edit</a>
             </button>
        </form>
    </section>
   </main>
    
</body>
</html>