<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/brands-edit.css">
    <title>BRAND EDIT</title>
</head>
<body>
    <nav class="nav-container">
        
                <a class="nav-buttons" href="/brands">Brands</a>
            
    </nav>
    <h1>Brand Edit</h1>
    
        
    <main>
        <form action="/brands/<%= brand._id %>?_method=PUT" method="POST">  
            <div>
                <label for="brand-name">Brand Name:     
                    <input 
                    type="text" 
                    name="brandName" 
                    value="<%= brand.brandName %>"/>
                </label>
            </div>
            <div>
                <label for="">Region:
                    <input 
                    type="text" 
                    name="region" 
                    value="<%= brand.region %>"/>
                    
                </label>
            </div>
            <div>
                <label for="">Main Ingredient:
                    <input 
                    type="text" 
                    name="ingredient"
                    value="<%= brand.ingredient %>"/>
                </label>
            </div>
           
            <div>
                <label for="">Contains Nuts:  
                    <input
                    id="toggle" 
                    type="checkbox" 
                    name="nuts"
                   <%= brand.nuts && 'checked'%>/>
                </label>
            </div>
            <div>
                <label class="review-label" for="">Reviews:
                    <textarea class="review-input" name="review" rows="10"cols="40"><%= brand.review %>
                    </textarea>
                </label>
            </div>
            <div>
                <label for="">Image URL:
                    <input 
                    type="text" 
                    name="imageUrl"
                    value="<%= brand.imageUrl %>"/>
                </label>
            </div>
            <button type="submit">Submit</button>
        </form> 

    
    </main>
</body>
</html>