<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/brand-show.css">
    <title>Brands Show</title>
</head>
<body>
    <main>
        <nav class="nav-container">
            <a class="nav-buttons" href="/brands">Brands</a>
        </nav>
        <h1><%= brand.brandName %></h1>
        <h2>Thanks for submitting!</h2>
        <section>
            <div class="field-background">
                <p class="label">Brand Name: <%= brand.brandName %></p>
                <p class="label">Region: <%= brand.region %></p>
                <p class="label">Main Ingredient: <%= brand.ingredient %></p>
                <!-- NUTS INDICATOR begin-->
                <% if (brand.nuts) { %>
                <p class="label">This brand DOES contain nut product</p>
                <% } else { %>
                <p class="label">This brand DOES NOT contain nut products</p>
                <% } %>
                <!-- NUTS INDICATOR end -->
                <textarea class="label" rows="10" cols="40">Review: <%= brand.review %></textarea>
                    <p class="label">Submitted Image:</p>
                    <img class="index-image" src="<%= brand.imageUrl %>" alt="">
                        
                    <!-- DELETE Button -->
                <form class="button-container " action="/brands/<%= brand._id %>?_method=DELETE" method="POST">
                    <button class="delete-edit big-button" type="submit">
                    Delete
                    </button>
                <!-- EDIT Button -->
                    <button class="delete-edit big-button">
                        <a class="edit-button" href="/brands/<%= brand._id %>/edit">Edit</a>
                    </button>
                </form>
            </div>
        </section>

    
    
   </main>
    
</body>
</html>